@{
    ViewData["Title"] = "About ABHI Pricing";
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The Application calculates the premium based on the the current the current premium tables and computation logic for the ABHI Retail Health Indemnity product.</p>
