@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "";

}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Taj Lands End 
    Mumbai
    44001
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wwelby-solomon@mhg.co.za">Wayne Welby-Solomon</a><br />
</address>
